.form{
    max-width: 600px;
    margin: 0 auto;
    /* box-sizing: border-box; */
}

.form__fieldset{
    border: 1px solid black;
    margin-bottom: 1.25rem;
}

.form__legend{
    box-sizing: border-box;
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0.625rem;
    margin-bottom: 2.5rem;
}
.form__field{
    margin-bottom: 1.25rem;
}

.form__label{
    flex-basis: 6.25rem;
}

.form__field input:not([type="radio"]),
.form__field textarea,
.form__field select  {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 0.625rem;
}

.form__submit{
    background-color: var(--primary-button-color);
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0.625rem;
    transition: background-color .3s ease-out;
    font-size: 0.85rem;
    border: none;
}

.form__submit:hover{
    background-color: #688a04;
    cursor: pointer;
}