.header__title{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2rem;
    color: #000;
}
.header__title span {
    color: var(--secondary-text-color);
}

@media (min-width: 768px) {
    .header__title{
        font-size: 3rem;
    }
}