.d-none {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute{
    position: absolute;
}

.m-top-auto {
    margin-top: auto;
}

.f-direction-column {
    flex-direction: column;
}

.j-items-center {
    justify-items: center;
}
.t-align-center {
    text-align: center;
}

@media (min-width: 768px) {
    .max-width-md {
        max-width: 18.75rem;
    }
}

.gap-xs {
    gap: calc(var(--padding-section) * 0.25);
}


.gap-sm {
    gap: calc(var(--padding-section) * 0.5);
}

.gap-md {
    gap: var(--padding-section);
}

.gap-lg {
    gap: calc(var(--padding-section) * 1.5);
}

.gap-xl {
    gap: calc(var(--padding-section) * 2);
}

.gap-2xl {
    gap: calc(var(--padding-section) * 2.5);
}


@media (min-width: 768px){
    .p-0{
        padding: 0;
    }
}